* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  background: #f3ebf6;
  padding: 20px;
}
.desc{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
.title{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 30px;
}
.title h2{
  font-size: 30px;
  font-weight: bold;
  color: #9606cf;
  padding-right: 15px;
}
p{
  font-size: 24px;
  font-weight: 400;
  color: #4e0969;
  padding-bottom: 15px;
}

@media only screen and (max-width: 480px){
  .title h2{
    font-size: 22px;
    font-weight: 600;
  }
  p{
    font-size: 20px;
    font-weight: 200;
  }
}
@media only screen and (max-width: 680px){
  .App{
    width: 100%;
  }
}